<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form action="registerpage" method="post">
    <table>
        <tr>
            <td>用户名：</td>
            <td><input type="text" name="username"/></td>
        </tr>
        <tr>
            <td>密码：</td>
            <td><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td>确认密码:</td>
            <td><input type="password" name="repassword"/></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="注册"/>
            </td>
            <td th:if="${session.error} ne 'null'">
                <h3 th:text="${session.error}"></h3>
            </td>
        </tr>
    </table>
    </form>
</div>
</body>
</html>